body{
    text-align: center;
}
.btn img{
    width: 150px;
    height: 150px;
}

.btn{
    margin-right: 20px;
    border: none;
    cursor: pointer;
    background-color: white;
    
}

.reset-btn{
    width: 70px;
    height: 20px;
    background-color: rgb(194, 182, 182);
}

.reset-btn:hover{
    background-color: red;
    color: white;
    cursor: pointer;
}